<h2>{{ "capacityPlan.title" | translate }}</h2>
<form>
  <table class="table">
    <thead>
      <tr>
        <th>{{ 'capacityPlan.bezeichnung' | translate }}</th>
        <th>{{ 'capacityPlan.verwendung' | translate }}</th>
        <th>{{ 'capacityPlan.artikel' | translate }}</th>
        <th>{{ 'capacityPlan.auftragsmenge' | translate }}</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
        <th>11</th>
        <th>12</th>
        <th>13</th>
        <th>14</th>
        <th>15</th>
      </tr>
    </thead>
    <tbody>
      <!-- Data Rows -->
      <tr *ngFor="let row of productionArray">
        <td *ngFor="let cell of row; let i = index">
          <ng-container *ngIf="i < 3">
            {{ cell ? (cell | translate) : '' }}
          </ng-container>
          <ng-container *ngIf="i >= 3">
            {{ cell || '0' }}
          </ng-container>
        </td>      </tr>
      <!-- Puffer Row -->
      <tr>
        <td>{{ 'capacityPlan.pufferProWoche' | translate }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td *ngFor="let value of puffer; let i = index; trackBy: trackByIndex">
          <clr-input-container class="no-margin" >
            <input
            [(ngModel)]="puffer[i]"
            name="puffer{{i}}"
            clrInput
            placeholder="0"
            class="small-input"
            (ngModelChange)="updatePuffer()"
            size="5"
            type="number"
          />
          </clr-input-container>
        </td>
      </tr>
      <!-- Second Data Array -->
      <tr *ngFor="let row of productionArray2">
        <td *ngFor="let cell of row">{{ cell ? (cell | translate) : '' }}</td>
      </tr>
    </tbody>
  </table>
</form>

<br><br><br>

<div class="btn-group btn-primary bottom-right">
  <button class="btn btn-primary" routerLink="/disposition">
    {{ "global.prevPage" | translate }}
  </button>
  <button class="btn btn-primary" routerLink="/kaufteilDispo">
    {{ "global.nextPage" | translate }}
  </button>
</div>
