<form clrForm clrLayout="compact">
  <clr-datagrid>
    <clr-dg-column>Bezeichnung</clr-dg-column>
    <clr-dg-column>Verwendung</clr-dg-column>
    <clr-dg-column>Artikel</clr-dg-column>
    <clr-dg-column>Auftragsmenge</clr-dg-column>
    <clr-dg-column>1</clr-dg-column>
    <clr-dg-column>2</clr-dg-column>
    <clr-dg-column>3</clr-dg-column>
    <clr-dg-column>4</clr-dg-column>
    <clr-dg-column>6</clr-dg-column>
    <clr-dg-column>7</clr-dg-column>
    <clr-dg-column>8</clr-dg-column>
    <clr-dg-column>9</clr-dg-column>
    <clr-dg-column>10</clr-dg-column>
    <clr-dg-column>11</clr-dg-column>
    <clr-dg-column>12</clr-dg-column>
    <clr-dg-column>13</clr-dg-column>
    <clr-dg-column>14</clr-dg-column>
    <clr-dg-column>15</clr-dg-column>

    <clr-dg-placeholder>No data found</clr-dg-placeholder>
    <clr-dg-row *ngFor="let row of this.productionArray">
      <clr-dg-cell *ngFor="let cell of row">{{ cell }}</clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>
  <button type="button" (click)="printProductionArray()">Print Production Array</button>

</form>

<!-- <form clrForm clrLayout="compact" >
  <clr-datagrid>
    <clr-dg-column>Artikel Nr.</clr-dg-column>
    <clr-dg-column>Auftragsmenge</clr-dg-column>
    <clr-dg-column>1</clr-dg-column>
    <clr-dg-column>2</clr-dg-column>
    <clr-dg-column>3</clr-dg-column>
    <clr-dg-column>4</clr-dg-column>
    <clr-dg-column>6</clr-dg-column>
    <clr-dg-column>7</clr-dg-column>
    <clr-dg-column>8</clr-dg-column>
    <clr-dg-column>9</clr-dg-column>
    <clr-dg-column>10</clr-dg-column>
    <clr-dg-column>11</clr-dg-column>
    <clr-dg-column>12</clr-dg-column>
    <clr-dg-column>13</clr-dg-column>
    <clr-dg-column>14</clr-dg-column>
    <clr-dg-column>15</clr-dg-column>

    <clr-dg-placeholder>No data found</clr-dg-placeholder>
    <clr-dg-row>
      <clr-dg-cell>{{ "E4" }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>

    </clr-dg-row>
    <clr-dg-row>
      <clr-dg-cell>{{ "E5" }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>

    </clr-dg-row>
    <clr-dg-row>
      <clr-dg-cell>{{ "Kapazitätsbedarf" }}</clr-dg-cell>
      <clr-dg-cell>{{ "" }}</clr-dg-cell>
      <clr-dg-cell>{{ 100 }}</clr-dg-cell>
      <clr-dg-cell>{{ 200 }}</clr-dg-cell>
      <clr-dg-cell>{{ 300 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>
      <clr-dg-cell>{{ 0 }}</clr-dg-cell>

    </clr-dg-row>

    <clr-dg-row>
      <clr-dg-cell>{{ "Auslastung" }}</clr-dg-cell>
      <clr-dg-cell>{{ "" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>

    </clr-dg-row>

    <clr-dg-row>
      <clr-dg-cell>{{ "Anzahl Schichten" }}</clr-dg-cell>
      <clr-dg-cell>{{ "" }}</clr-dg-cell>
      <clr-dg-cell>    
        <input placeholder="input" />
      </clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>

    </clr-dg-row>
    <clr-dg-row>
      <clr-dg-cell>{{ "Test Schichten" }}</clr-dg-cell>
      <clr-dg-cell>{{ "" }}</clr-dg-cell>
      <clr-dg-cell>    
        <input clrInput  placeholder="input" />
      </clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>
      <clr-dg-cell>{{ "100%" }}</clr-dg-cell>

    </clr-dg-row>
  </clr-datagrid>
</form> -->
