<div class="dispoContainer">
  <h2>{{ "disposition.title" | translate }}</h2>
  <br />
</div>
<br>
<clr-accordion>
  <clr-accordion-panel>
    <clr-accordion-title>Produktionsplan</clr-accordion-title>
    <clr-accordion-content *clrIfExpanded>
      <app-produktionsplan></app-produktionsplan>
    </clr-accordion-content>
  </clr-accordion-panel>
</clr-accordion>
<h2>
  <clr-tabs>
    <clr-tab>
      <button class="tabButton" clrTabLink>P1</button>
      <clr-tab-content *clrIfActive>
        <p cds-text="body" cds-layout="m-t:md">
          <dispo-table [rows]="rowsP1"></dispo-table>
        </p>
      </clr-tab-content>
    </clr-tab>
    <clr-tab>
      <button class="tabButton" clrTabLink>P2</button>
      <clr-tab-content *clrIfActive>
        <p cds-text="body" cds-layout="m-t:md">
          <dispo-table [rows]="rowsP2"></dispo-table>
        </p>
      </clr-tab-content>
    </clr-tab>
    <clr-tab>
      <button class="tabButton" clrTabLink>P3</button>
      <clr-tab-content *clrIfActive>
        <p cds-text="body" cds-layout="m-t:md">
          <dispo-table [rows]="rowsP3"></dispo-table>
        </p>
      </clr-tab-content>
    </clr-tab>
  </clr-tabs>
</h2>

<br><br><br><br>

<div class="btn-group btn-primary bottom-right">
  <button class="btn btn-primary" routerLink="/sellwish">
    {{ "global.prevPage" | translate }}
  </button>
  <button class="btn btn-primary" routerLink="/capacity-plan">
    {{ "global.nextPage" | translate }}
  </button>
</div>
