<div>TEST</div>
<form [formGroup]="dispoForm">
  <table class = "table table-border">
    <thead class = "text-nowrap">
    <tr>
      <th>Periode n</th>
      <th>Periode n+1</th>
      <th>Periode n+2</th>
      <th>Periode n+3</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
    </tbody>
  </table>
  <table class="table table-border">
    <thead class="text-nowrap">
    <tr>
      <th>{{KauftelidispoArt.KAUFTEIL}}</th>
      <th>{{KauftelidispoArt.FRIST}}</th>
      <th>{{KauftelidispoArt.ABWEICHUNG}}</th>
      <th>{{KauftelidispoArt.DISKONTMENGE}}</th>
      <th>{{KauftelidispoArt.VERBRAUCH}}</th>
      <th>{{KauftelidispoArt.BESTAND_AKTUELL}}</th>
      <th>{{KauftelidispoArt.EINGEHENDELIEFERUNG}}</th>
      <th>{{KauftelidispoArt.ANKUNFTSZEIT}}</th>
      <th>{{KauftelidispoArt.BENOETIGTE_MENGE}}</th>
      <th>{{KauftelidispoArt.BESTELLMENGE}}</th>
      <th>{{KauftelidispoArt.BESTELLTYP}}</th>
    </tr>
    </thead>
    <tbody formArrayName="tableRows">
    <tr *ngFor="let group of getFormControls.controls; let i = index" [formGroupName]="i">
      <td>{{ group.get('kaufteil')?.value }}</td>
      <td>{{ group.get('frist')?.value }}</td>
      <td>{{ group.get('abweichung')?.value }}</td>
      <td>{{ group.get('diskontmenge')?.value }}</td>
      <td>{{ group.get('verbrauch')?.value }}</td>
      <td>{{ group.get('bestandAktuell')?.value }}</td>
      <td>{{ group.get('lieferung')?.value }}</td>
      <td>{{ group.get('lieferzeit')?.value }}</td>
      <td>{{ group.get('benoetigteMenge')?.value }}</td>
      <td>{{ group.get('bestellmenge')?.value }}</td>
      <td>
        <select clrSelect formControlName="bestelltyp">
          <option value="N">N</option>
          <option value="E">E</option>
        </select>
      </td>
    </tr>
    </tbody>
  </table>
</form>
