th,
td {
  text-align: center;
  vertical-align: middle;
  width: 10%;
}

th {
  font-size: 12px;
}

table {
  table-layout: fixed;
  width: 100%;
  min-width: 1200px;
}

table td + td {
  border-left: 1px solid #6a7a81;
}

.input-column {
  display: flex;
  justify-content: center;
}

.output-col {
  font-weight: bold;
}

.info-col {
  width: 3%;
}

table td + td {
  border-left: 1px solid #6a7a81;
}

.small-input {
  min-width: 40px; /* Ensures input fields maintain a reasonable size */
  width: 90%; /* Makes the input field stretch to fit the cell */
  padding: 4px;
  box-sizing: border-box; /* Ensures padding doesn't affect width */
  text-align: center;
}
