<p>Prognose</p>
<div class="table-container">
  <form [formGroup]="tableForm">
    <table class="table table-compact">
      <thead>
        <tr>
          <th>Produkt</th>
          <th>Periode n</th>
          <th>Periode n + 1</th>
          <th>Periode n + 2</th>
          <th>Periode n + 3</th>
        </tr>
      </thead>
      <tbody formArrayName="rows">
        <tr *ngFor="let row of rows.controls; let i = index" [formGroupName]="i">
          <td>{{ row.get('product')?.value }}</td>
          <td *ngFor="let period of getPeriods(i).controls; let j = index">
            <input clrInput formControlName="{{ j }}" />
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
<p>Direktverkauf</p>
<div class="table-container">
  <form [formGroup]="tableForm">
    <table class="table table-compact">
      <thead>
        <tr>
          <th>Produkt</th>
          <th>Menge</th>
          <th>Preis pro Einheit</th>
          <th>Konventionalstrafe</th>
        </tr>
      </thead>
      <tbody formArrayName="rows">
        <tr *ngFor="let row of rows.controls; let i = index" [formGroupName]="i">
          <td>{{ row.get('product')?.value }}</td>
          <td><input clrInput formControlName="menge" /></td>
          <td><input clrInput formControlName="preisProEinheit" /></td>
          <td><input clrInput formControlName="£konventionalstrafe" /></td>
        </tr>
      </tbody>
    </table>
  </form>
</div>