<div class="component">
  <div class="vertriebswunsch">
    <p class="title">{{ "sellWish.sellWish" | translate }}</p>
    <form [formGroup]="tableForm">
      <table class="table">
        <thead>
          <tr>
            <th>{{ "sellWish.product" | translate }}</th>
            <th>{{ "sellWish.quantity" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>P1</td>
            <td>
              <clr-input-container class="no-margin">
                <input clrInput formControlName="vertriebswunschP1" />
              </clr-input-container>
              <div *ngIf="tableForm.get('vertriebswunschP1')?.invalid && tableForm.get('vertriebswunschP1')?.touched" class="error">
                {{ "sellWish.error" | translate }}
              </div>
            </td>
          </tr>
          <tr>
            <td>P2</td>
            <td>
              <clr-input-container class="no-margin">
                <input clrInput formControlName="vertriebswunschP2" />
              </clr-input-container>
              <div *ngIf="tableForm.get('vertriebswunschP2')?.invalid && tableForm.get('vertriebswunschP2')?.touched" class="error">
                {{ "sellWish.error" | translate }}
              </div>
            </td>
          </tr>
          <tr>
            <td>P3</td>
            <td>
              <clr-input-container class="no-margin">
                <input clrInput formControlName="vertriebswunschP3" />
              </clr-input-container>
              <div *ngIf="tableForm.get('vertriebswunschP3')?.invalid && tableForm.get('vertriebswunschP3')?.touched" class="error">
                {{ "sellWish.error" | translate }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
<div class="direktverkauf">
  <p class="title">{{ "sellWish.directSell" | translate }}</p>
  <form [formGroup]="tableForm">
    <table class="table">
      <thead>
        <tr>
          <th>{{ "sellWish.product" | translate }}</th>
          <th>{{ "sellWish.quantity" | translate }}</th>
          <th>{{ "sellWish.price" | translate }}</th>
          <th>{{ "sellWish.penalty" | translate }}</th>
        </tr>
      </thead>
      <tbody formArrayName="rows">
        <tr *ngFor="let row of rows.controls; let i = index" [formGroupName]="i">
          <td>{{ row.get('product')?.value }}</td>
          <td>
            <clr-input-container class="no-margin">
              <input clrInput formControlName="menge" />
            </clr-input-container>
            <div *ngIf="row.get('menge')?.invalid && row.get('menge')?.touched" class="error">
              {{ "sellWish.error" | translate }}
            </div>
          </td>
          <td>
            <clr-input-container class="no-margin">
              <input clrInput formControlName="preisProEinheit" />
            </clr-input-container>
            <div *ngIf="row.get('preisProEinheit')?.invalid && row.get('preisProEinheit')?.touched" class="error">
              {{ "sellWish.error" | translate }}
            </div>
          </td>
          <td>
            <clr-input-container class="no-margin">
              <input clrInput formControlName="konventionalStrafe" />
            </clr-input-container>

            <div *ngIf="row.get('konventionalStrafe')?.invalid && row.get('konventionalStrafe')?.touched" class="error">
              {{ "sellWish.error" | translate }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
</div>