<clr-tabs>
    <clr-tab>
      <button clrTabLink>P1</button>
      <clr-tab-content *clrIfActive>
        <p cds-text="body" cds-layout="m-t:md">
          <po-datagrid [rows]="rows_p1"></po-datagrid>
        </p>
      </clr-tab-content>
    </clr-tab>
    <clr-tab>
      <button clrTabLink>P2</button>
      <clr-tab-content *clrIfActive>
        <p cds-text="body" cds-layout="m-t:md">
          <po-datagrid [rows]="rows_p2"></po-datagrid>
        </p>
      </clr-tab-content>
    </clr-tab>
    <clr-tab>
      <button clrTabLink>P3</button>
      <clr-tab-content *clrIfActive>
        <p cds-text="body" cds-layout="m-t:md">
          <po-datagrid [rows]="rows_p3" (safety_stock)=""></po-datagrid>
        </p>
      </clr-tab-content>
    </clr-tab>
</clr-tabs>
  