<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a routerLink="/" class="nav-link">
        <cds-icon shape="factory"></cds-icon>
        <span class="title">IBSYS 2 Planspiel</span>
      </a>
    </div>
    <div class="header-actions">
      <button class="btn btn-warning-outline" (click)="onGetDebugData()">
        Output Data in Console
      </button>
      <button class="btn btn-warning-outline" (click)="onSetInputSampleData()">
        Generate Input Sample
      </button>
      <button class="btn btn-warning-outline" (click)="onSetOutputSampleData()">
        Generate Output Sample
      </button>
      <clr-dropdown>
        <button
          class="nav-icon"
          clrDropdownTrigger
          aria-label="toggle language menu"
        >
          <cds-icon shape="language"></cds-icon>
          <cds-icon shape="angle" direction="down"></cds-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <button
            *ngFor="let lang of languages"
            clrDropdownItem
            (click)="onLanguageChange(lang.code)"
          >
            {{ lang.name }}
          </button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>

  <div class="content-container">
    <clr-vertical-nav>
      <a clrVerticalNavLink routerLink="./setup" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="install"></cds-icon>
        Setup
      </a>
      <a *ngIf="this.globalState.dataInitialized"
      clrVerticalNavLink routerLink="./input" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="dollar-bill"></cds-icon>
        Input
      </a>
      <a *ngIf="this.globalState.dataInitialized"
      clrVerticalNavLink routerLink="./sellwish" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="dollar-bill"></cds-icon>
        Sellwish
      </a>
      <a *ngIf="this.globalState.dataInitialized"
      clrVerticalNavLink routerLink="./capacity-plan" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="house"></cds-icon>
        capacity-plan
      </a>
      <a *ngIf="this.globalState.dataInitialized"
      clrVerticalNavLink routerLink="./disposition" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="view-columns"></cds-icon>
        Disposition
      </a>
      <a *ngIf="this.globalState.dataInitialized"
      clrVerticalNavLink routerLink="./export" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="export"></cds-icon>
        Export
      </a>
    </clr-vertical-nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
