<clr-datagrid>
    <clr-dg-column [clrDgField]="'article_ref_id'">Article</clr-dg-column>
    <clr-dg-column [clrDgField]="'sales_req'">Sales Request</clr-dg-column>
    <clr-dg-column [clrDgField]="'stock_safety'">Safety Stock</clr-dg-column>
    <clr-dg-column [clrDgField]="'stock_prev'">Stock Previous Period</clr-dg-column>
    <clr-dg-column [clrDgField]="'orders_queued'">Orders In Queue</clr-dg-column>
    <clr-dg-column [clrDgField]="'orders_in_process'">Orders In Process</clr-dg-column>
    <clr-dg-column [clrDgField]="'orders_prod'">Production Orders</clr-dg-column>
    
    <clr-dg-row *clrDgItems="let row of rows">
        <clr-dg-cell>{{ row.article_ref_id }}</clr-dg-cell>
        <clr-dg-cell>{{ row.sales_req }}</clr-dg-cell>
        <clr-dg-cell>{{ row.stock_safety }}</clr-dg-cell>
        <clr-dg-cell>{{ row.stock_prev }}</clr-dg-cell>
        <clr-dg-cell>{{ row.orders_queued }}</clr-dg-cell>
        <clr-dg-cell>{{ row.orders_in_process }}</clr-dg-cell>
        <clr-dg-cell>{{ row.orders_prod }}</clr-dg-cell>
    </clr-dg-row>
</clr-datagrid>