<table class="table">
  <thead>
    <tr>
      <th class="left-header">{{ "lotsize.table.order" | translate }}</th>
      <th>{{ "lotsize.table.article" | translate }}</th>
      <th>{{ "lotsize.table.quantity" | translate }}</th>
      <th>{{ "lotsize.table.actions" | translate }}</th>
    </tr>
  </thead>
  <tbody cdkDropList (cdkDropListDropped)="drop($event)">
    <tr *ngFor="let production of productionList; let i = index" cdkDrag>
      <td class="left-cell">{{ i + 1 }}.</td>
      <td class="centered-cell">{{ production.article }}</td>
      <td class="centered-cell">{{ production.quantity }}</td>
      <td>
        <button
          clrButton
          (click)="openConfirmModal('split', i)"
          class="btn btn-primary btn-sm"
        >
          {{ "lotsize.button.split" | translate }}
        </button>
        <button
          *ngIf="canMerge(i)"
          clrButton
          (click)="openConfirmModal('merge', i)"
          class="btn btn-primary btn-sm"
        >
          {{ "lotsize.button.merge" | translate }}
        </button>
      </td>
    </tr>
  </tbody>
</table>

<clr-modal [(clrModalOpen)]="isModalOpen">
  <h3 class="modal-title">{{ modalTitle | translate }}</h3>
  <div class="modal-body">
    <p>{{ modalMessage | translate }}</p>
    <div *ngIf="currentAction === 'split'" class="split-container">
      <label for="splitSlider">
        {{ "lotsize.modal.splitLabel" | translate }}: {{ splitQuantity }}
      </label>
      <input
        type="range"
        id="splitSlider"
        min="1"
        [max]="getSelectedProduction()?.quantity"
        [(ngModel)]="splitQuantity"
      />
    </div>
  </div>
  <div class="modal-footer">
    <button clrButton (click)="confirmAction()" class="btn btn-primary">
      {{ "lotsize.button.confirm" | translate }}
    </button>
    <button clrButton (click)="closeConfirmModal()" class="btn btn-link">
      {{ "lotsize.button.cancel" | translate }}
    </button>
  </div>
</clr-modal>

<br><br><br>
<div class="btn-group btn-primary bottom-right">
  <button class="btn btn-primary" routerLink="/kaufteilDispo">
    {{ "global.prevPage" | translate }}
  </button>
  <button class="btn btn-primary" routerLink="/export">
    {{ "global.nextPage" | translate }}
  </button>
</div>
