<div>
  <h2>{{ "setup.title" | translate }}</h2>
  <p>{{ "setup.description" | translate }}</p>

  <form clrForm clrLayout="vertical" [formGroup]="form">
    <clr-file-input-container>
      <label>{{ "setup.selectXmlButton" | translate }}</label>
      <input
        type="file"
        (change)="onFileSelected($event)"
        formControlName="files"
        accept=".xml"
        required
        clrFileInput
      />
      <clr-control-helper>{{
        "setup.selectXmlButton_loadtip" | translate
      }}</clr-control-helper>
      <clr-control-success>{{
        "setup.selectXmlButton_success" | translate
      }}</clr-control-success>
      <clr-control-error>{{
        "setup.selectXmlButton_error" | translate
      }}</clr-control-error>
    </clr-file-input-container>
  </form>
  <div *ngIf="jsonData; else disabledUpload">
    <button
      class="btn btn-info-outline"
      [clrLoading]="uploadBtnState"
      (click)="mapXmlData(jsonData)"
    >
      {{ "setup.loadDataButton" | translate }}
    </button>
  </div>
  <ng-template #disabledUpload>
    <button class="btn btn-info-outline" disabled>
      {{ "setup.loadDataButton" | translate }}
    </button>
  </ng-template>
  <clr-alert *ngIf="mappingError" [clrAlertType]="'danger'">
    <clr-alert-item>
      <span class="alert-text">{{ "setup.xmlAlertDanger" | translate }}</span>
    </clr-alert-item>
  </clr-alert>
  <clr-alert
    *ngIf="this.globalState.dataInitialized"
    [clrAlertType]="'success'"
  >
    <clr-alert-item>
      <span class="alert-text">{{ "setup.xmlAlertSuccess" | translate }}</span>
    </clr-alert-item>
  </clr-alert>
</div>

<br />
<div *ngIf="this.globalState.dataInitialized">
  <h2>{{ "setup.titleNextSteps" | translate }}</h2>
  <p>{{ "setup.msgNextPage" | translate }}</p>
  <br />
  <button
    class="btn btn-info-outline"
    [clrLoading]="uploadBtnState"
    routerLink="/input"
  >
    {{ "setup.nextPageButton" | translate }}
  </button>
</div>
<!--
<div *ngIf="this.globalState.dataInitialized">
  <h2>{{ "setup.inspectData" | translate }}</h2>
  <clr-accordion>
    <clr-accordion-panel>
      <clr-accordion-title>{{
        "setup.xmlData" | translate
      }}</clr-accordion-title>
      <clr-accordion-content *clrIfExpanded>
        <pre>{{ loadedData | json }}</pre>
      </clr-accordion-content>
    </clr-accordion-panel>
  </clr-accordion>
</div>

<div *ngIf="this.globalState.dataInitialized">
  <clr-tabs>
    <clr-tab>
      <button clrTabLink>Metadata</button>
      <clr-tab-content *clrIfActive>
        <form class="clr-form">
          <div class="clr-form-control">
            <label for="game" class="clr-control-label">Game</label>
            <div class="clr-control-container">
              <div class="clr-input-wrapper">
                <input
                  type="text"
                  id="game"
                  placeholder="Game"
                  class="clr-input"
                  [(ngModel)]="data.input.metaData.game"
                  name="game"
                />
                <cds-icon class="clr-validate-icon" shape="exclamation-circle"></cds-icon>
              </div>
            </div>
          </div>

          <div class="clr-form-control">
            <label for="group" class="clr-control-label">Group</label>
            <div class="clr-control-container">
              <div class="clr-input-wrapper">
                <input
                  type="text"
                  id="group"
                  placeholder="Group"
                  class="clr-input"
                  [(ngModel)]="data.input.metaData.group"
                  name="group"
                />
                <cds-icon class="clr-validate-icon" shape="exclamation-circle"></cds-icon>
              </div>
            </div>
          </div>

          <div class="clr-form-control">
            <label for="period" class="clr-control-label">Period</label>
            <div class="clr-control-container">
              <div class="clr-input-wrapper">
                <input
                  type="text"
                  id="period"
                  placeholder="Period"
                  class="clr-input"
                  [(ngModel)]="data.input.metaData.period"
                  name="period"
                />
                <cds-icon class="clr-validate-icon" shape="exclamation-circle"></cds-icon>
              </div>
            </div>
          </div>
        </form>
      </clr-tab-content>
    </clr-tab>
  </clr-tabs>
</div>
-->
