@import '@cds/core/global.min.css';
@import '@cds/core/styles/theme.dark.min.css';
@import '@clr/ui/clr-ui.min.css';

.no-margin {
    margin-top: 0 !important;
    display: block;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #293d45 !important;
  }
  